<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= @resume.name %></title>
  <style type="text/css" media="all">
    body {
      font-family: Garamond;
      font-size: 1.2em;
    }
    .ordered {
      list-style-type: decimal;
    }
    .unordered {
      list-style-type: circle;
    }
  </style>
  <%= csrf_meta_tags %>
</head>
<body>
  <div style="width: 800px; margin: 0 auto">

    <% pd = @resume.personal_detail %>
    <%= render partial: "templates/#{@resume.tpl_name}/" + pd.tpl_name , locals: {data: pd} %>

    <% @sections.each do |sec| %>
      <%= render partial: "templates/#{@resume.tpl_name}/"+sec.tpl_name, locals: {data: sec}  %>
    <% end %>

  </div>
</body>
</html>
