<div id="HomeFirstRow" class="row">
  <div class="col-xs-12">
    <div id="Greeting">
      <% if logged_in? %>
        <%= render 'greeting_user' %>
      <% else %>
        <%= render 'greeting_non_user' %>
      <% end %>
    </div>
  </div>
</div>
