body {
  font-family: "San Serif";
  font-size: 1.2em;
}

h1 {
  margin: 10px 0;
}

h2 {
  margin-bottom: 10px;
}

h4 {
  margin: 15px 0;
}

ul {
  margin-top: 0;
}

.field-separator {
  color: #ddd;
}
