<div class="yui-gf">
  <div class="yui-u first">
    <h2>{{ section.name  }}</h2>
  </div>
  <div class="yui-u">
    <p class="enlarge">
    {{ section.content }}
    </p>
  </div>
</div><!--// .yui-gf -->
