/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require components/bootstrap/bootstrap-all.css.scss
 *= require jquery-ui
 *= require bootstrap-wysihtml5
 *= require_self
 *= require editor.css.scss
 *= require users.css.scss
 */

.clear {
  clear: both;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  text-decoration: none;
}

.left {
  float: left;
}

.right {
  float: right;
}

#Greeting {
  text-align: center;
  margin: 0 auto;

  h3 {
    font-size: 3.0em;
    margin-bottom: 30px;
  }

  button {
    height: 100px;
    padding: 30px;
    font-size: 2.0em;
  }
}
