<div id="ChooseTemplateModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="ChooseTemplateModalTitle">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="ChooseTemplateModalTitle">Choose a template for your resume</h4>
      </div>
      <div class="modal-body">
        <% @templates.each do |tpl| %>
          <%= form.radio_button :template_id, tpl.id %>
          <%= form.label "template_id_#{tpl.id}", tpl.name %>
          <br />
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" id="ChooseTemplateButton" class="btn btn-primary">Choose Template</button>
      </div>
    </div>
  </div>
</div>
