<div style="width: 800px; margin: 0 auto">

  <% pd = @resume.personal_detail %>
  <%= render partial: 'templates/default/' + pd.tpl_name , locals: {data: pd} %>

  <% @sections.each do |sec| %>
    <%= render partial: 'templates/default/'+sec.tpl_name, locals: {data: sec}  %>
  <% end %>

</div>
