<div style="width: 800px; margin: 0 auto">

  <%= render partial: 'templates/default/' + 'personal_detail', locals: {data: @resume.personal_detail} %>

  <% @sections.each do |sec| %>
    <%= render partial: 'templates/default/'+sec.tpl_name, locals: {data: sec}  %>
  <% end %>

</div>
