<!DOCTYPE html>
<html>
<head>
  <title><%= @resume.name %></title>
  <%= stylesheet_link_tag 'resume_display', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= liquidize(@template, @data).html_safe %>
</body>
</html>
