<!DOCTYPE html>
<html>
<head>
  <title><%= @resume.name %></title>
  <%= liquidize(@template[:head], @data).html_safe %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= liquidize(@template[:body], @data).html_safe %>
</body>
</html>
